<header>
    <h1>Lugares</h1>
    <br>
    <button (click)="navegacion()">Volver</button>
    </header>
    <body class="gen">
        <div class="pa1">
            <h1>Montañita</h1>
            <h4>
                Lugar para pasar la vacaciones de fin de año en el cual 
                <br>se puede ver el mar o comer mariscos, tambien tiene 
                <br>diversas actividades en las cual pasar el dia ya sea 
                <br>estando en un bote o practicar el parapente, siempre es 
                <br>bueno pasar un rato en la playa con amigos o en familia 
                <br>este es un buen lugar para relajarse 
            </h4>

            <table>
                <tr><td>
                    <img src="https://media.traveler.es/photos/61376a66f130191a954c7712/master/w_1600%2Cc_limit/148353.jpg" alt="">
                </td></tr>
            </table>
        </div>

        <div class="pa2">
            <h1>Quito</h1>
            <h4>
                Un lugar turistico en el cual se puede recorrer la mitad del mundo 
                <br>probar ciertas comidas con diferente sazon y mayormente 
                <br>se puede comprar articulos a un mejor precio de los que se tiene normalmente 
                <br>en cuenca 
                <br><br>
                De la misma manera se puede visitar el teleferico de quito 
                <br>siendo este en una montaña y de paso visitando un columpio 
                <br>que se encuentra en la cima de el teleferico 
                <br>En fin un buen lugar en el cual ir de viaje con familio o amigos y
                <br>tambien para comprar articulos a buen precio 
                <table>
                    <tr>
                        <td>
                            <img src="https://media-cdn.sygictraveldata.com/media/1200x630/612664395a40232133447d33247d383533303033313133" alt="">
                        </td>
                    </tr>
                </table>
            </h4>
        </div>
    </body>