<div align="center">
<H1>Pagina principal</H1>
<button (click)="navegacion()">Comida</button>
<button (click)="navegacion2()">Deportes</button>
<button (click)="navegacion3()">Juegos Favoritos</button>
<button (click)="navegacion4()">Familia</button>
<button (click)="navegacion5()">Programas Favoritos</button>
<br><br><br>
<iframe width="560" height="500" src="https://media.tenor.com/b4mZd_VT8RIAAAAC/kirby.gif" frameborder="0" align="left" ></iframe>
<table align="center">
<tr><h2>Nombre: Marco Paredes</h2></tr>
<tr><h2>Curso: 3-E1</h2></tr>
<tr><h2>Materia: Programacion Movil</h2></tr>


</table>
</div>