
<div align="center">
<H1>Pagina principal</H1>
<button (click)="navegacion()">Comida</button>
<button (click)="navegacion2()">Deportes</button>
<button (click)="navegacion3()">Juegos Favoritos</button>
<button (click)="navegacion4()">Familia</button>
<button (click)="navegacion5()">Programas Favoritos</button>
<br><br><br>
</div>

    <img class="kirb" align="right" src="https://media.tenor.com/b4mZd_VT8RIAAAAC/kirby.gif" frameborder="0"  >

    <table align="left" class="dat">
    <tr><td><h1>Nombre: Marco Paredes</h1></td>
        <td rowspan="4">
        <img class="perfil" src="assets/Images/perfil.jpg" width="200px"></td></tr>
    <tr><h1>Curso: 3-E1</h1></tr>
    <tr><h1>Materia: Programacion Movil</h1></tr>
    <tr><h1>Tema: BLOG</h1></tr>
    

    </table>
 
    

