<header>
    <h1>Videojuegos</h1>
    <br>
    <button (click)="navegacion()">Volver</button>
    </header>

    <div class="gen">
        
        <div class="rd">
        <h2 class="re">
            Read Dead Redemption 2
        </h2>
        <h3 class="re2">
            Uno de los mejores juegos de mundo abierto que se han creado
            <br>y un buen desarrollo de personaje muy bien cuidado en los detalles 
            <br>llego a ser usado para estudiar historia y el comportamiento de algunos animales 
            <br>bajo ciertas circunsatcias o ambientes 
            <br><br>
            Tristemente perdio la nomicacion a juego del año en 2018 contra 
            <br>God Of War, a mi parecer por que no se le dio el suficiente tiempo para probarlo 
            <br>lo cual ocasiono que no se aprovechara todas las mecanicas y se le pueda disfrutar 
            <br><br>
            La historia que cuenta esta ambientada en el genero western que 
            <br>se ambientan principalemnte en el medio oeste del siglo XIX 
            <br>con todas las conotaciones politicas y sociales de la epoca 
            <br><br><br><br><br><br><br><br>
        </h3>
        </div>

        <div class="its">
        <h2>
            It Takes TWo
        </h2>
        <h3 class="t">
            Este juego presenta una mecanica de multijugador bastante interesante 
            <br>ya que a lo largo del juego se necesita de la contribucion de ambos 
            <br>personajes para avanzar en la historia y completarla 
            <br>de la misma manera se va cambiando las mecanicas de 
            <br>ambos jugadores dando frescura en cada parte que se juega 
            <br><br>
            Es un juego que recomiendo para jugar con un amigo 
            <br>aunque, que se neciste de ambos para poder jugar es algo
            <br>que premia el compañerismo tambien es una limitacion pues 
            <br>en caso de no tener con quien jugar o alguien que tenga el mismo juego 
            <br>no se va a poder disfrutar de este titulo 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </h3>
        </div>
    </div>
