<header>
    <h1>Programas o Series</h1>
    <br>
    <button (click)="navegacion()">Volver</button>
    </header>
    <body>
        <h3>Lo que mas llego a ver son series animadas ya sea animes en generar 
            <br>o algunas series que tengan que ver con misterios o algunas simplemenete 
            <br>que esten de moda en fin nombrare 2 series que e visto y de que tratan:
        </h3>


    <div class="jojo">
        <h2>Jojo´s Bizarre Adventure</h2>
        <h4>
            Es una serie animada la cual trata de ficcion y magia 
            <br>principalmente relacionada con la familia Joestar 
            <br>y su linaje como este se va extendiendo y a cada rato tiene alguna complicacion
            <br>el origen de las complicaciones se da por una mascara que comvierte 
            <br>a una persona que odia a esta familia en un ser inmortal y busca venganza por que 
            <br>lo intentaron asesinar en un pasado bien recomendada :D

        </h4>
        
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5dd3ffa7-d6d9-47f5-894d-a7b19db5eb1b/dep3788-96913ebb-dffd-4aff-af56-a44b47456a37.jpg/v1/fill/w_1280,h_720,q_75,strp/jojo_wallpaper_by_lagrie_dep3788-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNWRkM2ZmYTctZDZkOS00N2Y1LTg5NGQtYTdiMTlkYjVlYjFiXC9kZXAzNzg4LTk2OTEzZWJiLWRmZmQtNGFmZi1hZjU2LWE0NGI0NzQ1NmEzNy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8ph_LxUOp5wVU30AE5qBk9WJvYiCALg3U8Eu0H0n7Ko">
    </div >
    <div class="boy">
        <h2>The Boys</h2>
        <h4>
            Muestra un mundo en el cual los superheroes no son personas que nunca se dejan 
            <br>llevar por la codicia y que se venden mas como una marca 
            <br>o producto, haciendo lo que sea para mantener su reputacion intacta
            <br>llegando a asesinar a personas que les estorban o que simplemenete no estan de 
            <br>acuerdo con ellos, el grupo llamado "the boys" son aquellos que buscan exponerlos
            <br>y que los demas dejen de verlos como alguien que nunca haria nada malo sino 
            <br>como seres que son capaces de hacer lo que sea para verse bien 
        </h4>        
        <img src="https://images.hdqwalls.com/wallpapers/the-boys-homelander-4k-hr.jpg" alt="">
    </div>
    </body>
